# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim
*.swp

# Waf
/.lock-waf*
/.waf*
/waf
/build.status

# Build output
/build
/bin
/lib
/include
/share

# Dia
*.dia~

# GNU Global
GPATH
GRTAGS
GSYMS
GTAGS
stl
